.main {
  &__info {
    margin-top: 70px;
  }

  &__chart {
    margin-top: 40px !important;
  }

  &__chat {
    padding-top: 30px !important;
  }

  &__programs {
    padding-top: 60px;
  }

  &__formats {
    padding-top: 50px;
  }

  &__praxis {
    padding-top: 63px;
  }

  &__reviews {
    margin-top: 60px !important;
  }

  &__price {
    padding-top: 62px !important;
  }

  &__questions {
    margin-top: 53px !important;
  }

  &__numbers {
    margin-top: 40px;
  }

  &__title {
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 154px;
  }

  &__all-reviews {
    margin-top: 50px;
  }
}