@import "mixin";
@import "globals";
@import "fonts";
@import "vars";

body {
  font-family: Roboto;
  color: #626262;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 430px;
  margin: 0 auto;
  overflow: hidden;
}

@import "components/header";
@import "components/main";
@import "components/info";
@import "components/chart";
@import "components/chat";
@import "components/programs";
@import "components/formats";
@import "components/praxis";
@import "components/reviews";
@import "components/price";
@import "components/questions";
@import "components/numbers";
@import "components/title";
@import "components/all-reviews";
@import "components/footer";
